<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hisaabcalculator">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon2"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon2"
        android:supportsRtl="true"
        android:theme="@style/Theme.HisaabCalculator">
        <activity
            android:name="hisaab.store.analyser.Yearly"
            android:exported="false" />
        <activity
            android:name="hisaab.store.analyser.about"
            android:exported="false" />
        <activity
            android:name="hisaab.store.analyser.guide"
            android:exported="false" />
        <activity
            android:name="hisaab.store.analyser.monthly"
            android:exported="false" />
        <activity
            android:name="hisaab.store.analyser.money"
            android:exported="false" />
        <activity
            android:name="hisaab.store.analyser.display"
            android:exported="false" />
        <activity
            android:name="hisaab.store.analyser.SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="hisaab.store.analyser.item"
            android:exported="false" />
        <activity
            android:name="hisaab.store.analyser.first"
            android:exported="false" />
        <activity android:name="hisaab.store.analyser.signup"
            android:exported="false"
            />
        <activity
            android:name="hisaab.store.analyser.MainActivity"
            android:exported="false" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-1079506490540577~9727322648" />
    </application>

</manifest>